* {
	margin: 0;
	padding: 0;
}

/* ~*~*~*~*~*~*~*~*~*~*~*~
tech@NYU universal header
version 1.0.0 * https://github.com/TechAtNYU/universal-header
- - -
colors: https://app.frontify.com/d/MlLYiAFc3BzO/tech-nyu-style-guide#/basics/colors
~*~*~*~*~*~*~*~*~*~*~*~ */

.uniheader__wrapper {
	box-sizing: border-box;
	position: fixed;
	z-index: 10;
	width: 100%;
	background-color: #EEEEEE; /* old brick / red */
	box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
}

.uniheader__primary { 
	margin: 0;
	padding: 8px 20px 0;
	font-family: 'Inconsolata', Helvetica, Arial, Sans-Serif;	
	background-color: #d7552d; /* flame pea / orange */
	min-height: 64px;
	vertical-align: middle;
}
.uniheader__primary a, .uniheader__logo, .uniheader__calendar-icon {
	height: 48px;
	display: inline-block;
}
.uniheader__primary a {
	text-decoration: none;
	color: black;
	background-color: red;
}

/* left side */
.uniheader__about {
	width: 80%;
	float: left;
}
.uniheader__logo, .uniheader__title, .uniheader__plusplus {
	display: inline-block;
}
.uniheader__title, .uniheader__plusplus {
	font-size: 24px;
	text-transform: uppercase;
	position: relative;
	top: -18px;
}
.uniheader__plusplus {
	left: -8px;
}
.uniheader__title {
	padding-left: 4px;
}

/* right side */
.uniheader__meta {
	float: right;
	width: 20%;
	text-align: right;
}
.uniheader__calendar-icon {
	width: 48px;
	height: 48px;
}
.uniheader__calendar-icon .calendar {
	fill: #65408b; /* affair / purple */
}


.sample__article {
	width: 50%;
	margin: auto;
	font-size: 2em;
}
.sample__article p {
	line-height: 1.25;
	margin: 0.5em 0;
}