* {
	margin: 0;
	padding: 0;
}



.universal-section__reset {
	box-sizing: border-box;
	width: 100%;
	font-family: 'Inconsolata', Helvetica, Arial, Sans-Serif;	
}




.sample__article {
	width: 50%;
	margin: auto;
	font-size: 2em;
}
.sample__article p {
	line-height: 1.25;
	margin: 0.5em 0;
}