header { 
	margin: 0 auto;
	z-index: 1000;
	position: fixed;
	background-color: white;
	width: 100%;
	padding-bottom: 13px;
}

header img.logo { 
	width: 200px;
	height: auto;
	padding: 14px 0px 0px 27px;
	margin: 0;
}

header svg { 
	width: 28px;
	height: auto;
	float: right;
	padding: 14px 27px 0px 0px;
}

header div.logo_calendar { 
	display: inline;	
}

header div.description { 
	margin: 0;	
}

header p.description { 
	font-family: 'Inconsolata', Helvetica, Arial, Sans-Serif;	
	padding: 0px 27px;
	margin: 0;
	color: #d7552d;
}

header .calendar { 
	fill: #65408b;
}

