<style>
/* ~*~*~*~*~*~*~*~*~*~*~*~
tech@NYU permanav - universal footer
version 1.0.0 * https://github.com/TechAtNYU/permanav
- - -
colors: https://app.frontify.com/d/MlLYiAFc3BzO/tech-nyu-style-guide#/basics/colors
~*~*~*~*~*~*~*~*~*~*~*~ */
.uniheader__footer--main {
	background-color: #152A5B;
}
.unifooter__main {
	overflow: auto; /* janky clearfix */
}
</style>

<div class="uniheader__footer--main universal-section__reset">
<!-- UNIVERSAL FOOTER 0.1.0 -->
	<footer class="unifooter__main">
		<section class="universal-section--primary">
			<h2>About tech@NYU</h2>

			<p>All tech@NYU events are covered by our <a href="http://techatnyu.org/anti-harassment">anti-harassment policy</a>.</p>

			<blockquote>
				<p>Tech@NYU does not tolerate harassment in any form. We welcome everyone regardless of sex, race, gender, gender identity and expression, sexual orientation, disability, age, physical appearance, religion/faith, national origin, source of income, and language preference.</p>

				<p>Harassment includes but is not limited to: offensive verbal or written comments related to, or exclusion based on, any of the characteristics listed above (i.e. sex, race, gender, etc.); deliberate intimidation; following or stalking; unwanted photography or recording; sustained disruption of talks or other events; inappropriate physical contact; unwelcome sexual attention; and patronizing language or action.</p>
			</blockquote>
		</section>
		<section class="universal-section--secondary">
			<h2>About tech@NYU</h2>

			<p>All tech@NYU events are covered by our <a href="http://techatnyu.org/anti-harassment">anti-harassment policy</a>.</p>

			<blockquote>
				<p>Tech@NYU does not tolerate harassment in any form. We welcome everyone regardless of sex, race, gender, gender identity and expression, sexual orientation, disability, age, physical appearance, religion/faith, national origin, source of income, and language preference.</p>

				<p>Harassment includes but is not limited to: offensive verbal or written comments related to, or exclusion based on, any of the characteristics listed above (i.e. sex, race, gender, etc.); deliberate intimidation; following or stalking; unwanted photography or recording; sustained disruption of talks or other events; inappropriate physical contact; unwelcome sexual attention; and patronizing language or action.</p>
			</blockquote>
		</section>
	</footer>
</div>