<style>
/* ~*~*~*~*~*~*~*~*~*~*~*~
tech@NYU permanav - universal orgchart footer
version 1.0.0 * https://github.com/TechAtNYU/permanav
- - -
colors: https://app.frontify.com/d/MlLYiAFc3BzO/tech-nyu-style-guide#/basics/colors
~*~*~*~*~*~*~*~*~*~*~*~ */
.uniheader__footer--orgchart {
	background-color: #65408B;
	border-bottom: 2px solid #d7552d;
	overflow: auto; /* jank clearfix */
	padding: 12px 0;
}
.uf-orgchart__tags li {
	display: inline-block;
	list-style: none;
}
.orgchart-tag {
	border: 2px solid black;
	padding: 4px 8px;
	margin-bottom: 6px;
	cursor: pointer;
	border-radius: 2px;
}
.orgchart-tag--co {
}

</style>

<div class="uniheader__footer--orgchart universal-section__reset">
<!-- UNIVERSAL ORGCHART FOOTER 1.0.0 -->
	<footer class="unifooter__orgchart">

		<section class="uf-orgchart__primary universal-section--primary">
			<h2>Initiatives</h2>
			<ul class="uf-orgchart__tags">
				<li class="orgchart-tag orgchart-tag--ah">After Hours</li>
				<li class="orgchart-tag orgchart-tag--dd">DemoDays</li>
				<li class="orgchart-tag orgchart-tag--sw">Startup Week</li>
				<li class="orgchart-tag orgchart-tag--fc">Freshman Circuit</li>
				<li class="orgchart-tag orgchart-tag--hd">Hack Days</li>
				<li class="orgchart-tag orgchart-tag--de">Design Days</li>
				<li class="orgchart-tag orgchart-tag--co">Community</li>
				<li class="orgchart-tag orgchart-tag--in">Infrastructure</li>
			</ul>
		</section>

		<section class="uf-orgchart__secondary universal-section--secondary">
			<h2>Meta</h2>
			<ul class="uf-orgchart__tags">
				<li class="orgchart-tag">President</li>
				<li class="orgchart-tag">Vice President</li>
				<li class="orgchart-tag">Chair</li>
				<li class="orgchart-tag">Treasurer</li>
				<li class="orgchart-tag">Creative Director</li>
				<li class="orgchart-tag">Marketing</li>
				<li class="orgchart-tag">Business Development</li>
			</ul>
		</section>
	</footer>
</div>